[submodule "core"]
	path = core
	url = https://github.com/openathar/athan-core-java.git
[submodule "api"]
	path = api
	url = https://github.com/openathar/api-service.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/openathar/athar-mobile-app.git
[submodule "web"]
	path = web
	url = https://github.com/openathar/athar-web.git
[submodule "core-ts"]
	path = core-ts
	url = https://github.com/openathar/athan-core-ts.git
